* {
  box-sizing: border-box;
}
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

.container {
  width: 100%;
  margin: auto;
  position: relative;
}

@media only screen and (min-width: 768px) {
  .container {
      width: 1009px;
      display: flex;
      justify-content: space-between;
      padding: 50px 10px 0;
  }

}